*{
    max-width: 100%;
}

header{
    background-color: green;
}

header > nav{
    height: 100px;
    margin-bottom: 5px;
    opacity: 0.6;
}

header .navbar-brand{
    font-size: xx-large;
}

header .list{
    font-size: large;
}

#main {
    background-color: white;
}

.disc{
    text-align: justify;
    font-size: 40px;
    align-content: center;
    color: green;
    margin-left: 250px;
    margin-right: 250px;
}

.topic{
    font-size: 60px;
    color: greenyellow;
    text-align: center;
}